.core {
  max-width: 100%;
  width: 100%;

  #headshot {
    display: none;
  }

  #mobile-headshot {
    display: block;
    margin: 0 auto;
    max-height: 260px
  }

  .social-links {
    margin-top: 30px;
  }
}

@media (min-width: 600px) {
  .core {
    #headshot {
      display: block;
    }

    #mobile-headshot {
      display: none;
    }
  }
}