.sponsors-employers {
  margin: 35px auto 15px;
  text-align: center;

  p {
    letter-spacing: 0.5px;
    margin: 0;
  }

  a {
    transition-duration: 0.5s;
    filter: grayscale(0.65);
    opacity: 0.35;

    img {
      width: 150px;
    }

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.patreon {
  text-align: center;

  a {
    display: inline-block;
    background-image: url("../img/become_a_patron_button.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 51px;
    background-size: 100%;
  }
}
