* {box-sizing: border-box;}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background: radial-gradient(ellipse at top, #333, #131313);
}

.core {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-family: Open Sans, sans-serif;
  color: white;

  #headshot {
    display: block;
    margin: 0 auto -35px;
  }

  // #mobile-headshot {
  //   display: none;
  // }
}

@import 'social-links';
@import 'sponsors-employers';
@import 'responsive';
